{
    "extends": [
        "hss",
        "hss/es6",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script"
    },
    "env": {
        "jest": true,
        "node": true
    }
}
