{
    "extends": [
        "hss",
        "hss/es6",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "prefer-arrow-callback": "error"
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script"
    },
    "env": {
        "jest": true,
        "node": true
    }
}